{% macro resource_deposit_info(args) %}
	{% set region = args.r %}
	{% set human = args.h %}
	{% if region.settlement is not null %}
		{% for deposit in region.settlement.resourceDeposits %}
			<dt>{{ deposit.resourceDescriptor }}</dt>
			<dd>{{ deposit.amount }}</dd>
		{% endfor %}
	{% endif %}

	{% for deposit in region.availableOreDeposits %}
		<dt>{{ deposit.type }}</dt>
		<dd>{{ deposit.amount }}</dd>
	{% endfor %}

	<dt>Empty space</dt>
	<dd>{{ region.emptyArea }} from {{ region.area }}</dd>
{% endmacro %}

{% macro production_info(region) %}
	{% if region.settlement is not null %}
		{% if region.settlement.type == 'village' %}
			<dt>Capacity</dt>
			<dd>1000</dd>
			<dt>People count</dt>
			<dd>1000</dd>
		{% endif %}
		{% if region.settlement.type == 'mine' %}
			<dt>Capacity</dt>
			<dd>1000</dd>
			<dt>People count</dt>
			<dd>1000</dd>
		{% endif %}
	{% endif %}
{% endmacro %}

{% macro deposit_info(region, human) %}
	{% for deposit in region.availableOreDeposits %}
		{{ deposit.amount }}T of {{ deposit.type }}<br/>
	{% endfor %}
	{% if region.availableOreDeposits is not empty and region.settlement is null %}
		<a href="{{ path('region_build_settlement', {
			'regionUuid': region.uuid, 'type': 'mine', 'human': human.id}) }}">Create
			mine</a>
		<br/>
	{% endif %}
	{% if region.availableOreDeposits is empty %}
		<a href="{{ path('region_deposit_screening', {
			'regionUuid': region.uuid, 'human': human.id}) }}">Deposit screening</a>
	{% endif %}
{% endmacro %}