{% extends 'base-human.html.twig' %}

{% block pagetitle %}{{ settlement.name }}{% endblock %}
{% block pagedescription %}ruled by {{ settlementManager.name }}, owned by {{ settlementOwner.name }}{% endblock %}

{% block body %}
    {% import _self as this_macros %}
    <style type="text/css">
        #submenu {
            width: 100%;
        }
        #submenu li {
            position: relative;
            float: left;
        }
        #submenu li a {
            padding: 15px;
        }
        #subbody {
            position: relative;
            float: left;
            width: 100%;
        }

    </style>
    <button id="show-hidden-menu-button" class="ui-state-default ui-corner-all" onclick="return false;">Show others</button>
    <div class="menu-settlements toggler">
        <ul>
            <li style="width: 100%; height: 40px;">
                {{ this_macros.settlementMenu(planet, settlement.id) }}
            </li>
        </ul>
        <ul id="hidden-menu" class="effect">
            {% for title in globalHuman.titles %}
                {% if title.settlementId != settlement.id %}
                    <li style="width: 100%; height: 40px;">
                        <strong>{{ title.name }}</strong> <a href="">Go to</a>
                        <small>TODO: upravit urly</small>
                        {{ this_macros.settlementMenu(title.settlementPlanet, title.settlementId) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="subbody">{% block subbody %}{% endblock %}</div>
{% endblock %}

{% macro settlementMenu(planet, settlement) %}
    <ul id="submenu">
        <li><a href="{{ path('map_dashboard', { 'planet': planet.id, 'settlement': settlement }) }}">Map</a></li>
        <li><a href="{{ path('settlement_dashboard', { 'planet': planet.id, 'settlement': settlement }) }}">Dashboard</a></li>
        <li><a href="{{ path('settlement_jobs', { 'planet': planet.id, 'settlement': settlement }) }}">Jobs</a></li>
        <li><a href="{{ path('settlement_buildings', { 'planet': planet.id, 'settlement': settlement }) }}">Buildings</a></li>
        <li><a href="{{ path('settlement_housing', { 'planet': planet.id, 'settlement': settlement }) }}">Housing</a></li>
        <li><a href="{{ path('settlement_warehouses', { 'planet': planet.id, 'settlement': settlement }) }}">Storage</a></li>
        <li><a href="{{ path('trade_list', { 'planet': planet.id, 'settlement': settlement }) }}">Trade</a></li>
    </ul>
{% endmacro %}