<div>
	{% if buildings|length > 0 %}
		<strong>Buildings:</strong>
		<small>Space capacity: X/Ym3 </small>
		<small>Weight capacity: X/Ykg </small>
		<ul>
			{% for deposit in buildings %}
				<li>
					<strong>{{ deposit.blueprint.description }}</strong>&times;{{ deposit.amount }}, {{ deposit.resourceDescriptor }}, {{ deposit.space }}m2, {{ deposit.weight }}kg
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<small>There is nothing build.</small>
	{% endif %}
</div>
