{% extends 'Settlement/base.html.twig' %}

{% block subbody %}
	{% if buildings|length > 0 %}
		<strong>Buildings:</strong>
		<small>Space capacity: X/Ym3 </small>
		<small>Weight capacity: X/Ykg </small>
		<ul>
			{% for deposit in buildings %}
				<li>
					{{ render(controller('AppBundle:ResourceDeposit:depositDetail', {
						'deposit': deposit.id,
					})) }}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<small>There is nothing built.</small>
	{% endif %}
	<table>
		<tr>
			{% for region in settlement.regions %}
				<td>
					<h3>Region {{ region.coords }}</h3>
					<small>Used area: {{ region.usedArea }}/{{ region_area }}m2 ({{ 100*region.usedArea/ region_area}} %)</small><br>

					{% if region.project is null %}
						{{ render(controller('AppBundle:Region:availableBuildings', {
							'regionC': region.peakCenter.id,
							'regionL': region.peakLeft.id,
							'regionR': region.peakRight.id
						})) }}
					{% else %}
						Project {{ region.project.buildingBlueprint.description }}...
						<a href="{{ path('settlement_fast_build', {
							'project': region.project.id
						}) }}">Supervised build</a>
						<br/> {{ dump(region.project.missingResources) }}
						<ul>
							{% for notification in region.project.notifications %}
								<li>{{ notification.description }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	</table>
{% endblock %}