{% extends 'Settlement/base.html.twig' %}

{% block subbody %}
	{% if buildings|length > 0 %}
		<strong>Buildings:</strong>
		<small>Space capacity: {{ 0|volume }} / {{ 0|volume }} </small>
		<small>Weight capacity: {{ 0|weight }} / {{ 0|weight }} </small>
		<ul>
			{% for building in buildings %}
				<li>
					{{ render(controller('PlanetBundle:ResourceDeposit:depositDetail', {
						'descriptor': building.id,
					})) }}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<small>There is nothing built.</small>
	{% endif %}
	<table>
		<tr>
			<td>
				{% set modalId = "buildings-modal-for-settlement" %}
				<a href="#{{ modalId }}" rel="modal:open">Build in settlement</a>
				<div class="buildings-modal modal" id="{{ modalId }}">
					<a href="#" rel="modal:close">Close</a>
					{{ render(controller('PlanetBundle:Settlement:availableBuildings', {
						'planet': planet.id,
						'settlement': settlement.id
					})) }}
				</div>
			</td>
			{% for region in settlement.regions %}
				<td>
					<h3>Region {{ region.name }}</h3>
					<small>Used area: {{ region.usedArea|area }}/{{ region.area|area }} ({{ 100*region.usedArea/ region.area}} %)</small><br>

					{% if region.project is null %}
						{% set modalId = "buildings-modal-for-"~ region.coords %}
						<a href="#{{ modalId }}" rel="modal:open">Build</a>
						<div class="buildings-modal modal" id="{{ modalId }}">
							<a href="#" rel="modal:close">Close</a>
							{{ render(controller('PlanetBundle:Region:availableBuildings', {
								'planet': planet.id,
								'peakC': region.peakCenter.id,
								'peakL': region.peakLeft.id,
								'peakR': region.peakRight.id
							})) }}
						</div>
					{% else %}
						Project {{ region.project.buildingBlueprint.description }}...
						<a href="{{ path('settlement_fast_build', {
							'project': region.project.id
						}) }}">Supervised build</a>
						<br/> {{ dump(region.project.missingResources) }}
						<ul>
							{% for notification in region.project.notifications %}
								<li>{{ notification.description }}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	</table>
{% endblock %}