{% extends 'Settlement/base.html.twig' %}

{% block pagedescription %}ruled by {{ settlementManager.name }}, owned by {{ settlementOwner.name }}{% endblock %}

{% block subbody %}
    <strong>Food consumption</strong>
    {{ dump(foodConsumption) }}
    {{ dump(populationChanges) }}
    <table>
        <tr>
	        {% for region in settlement.regions %}
                <td>
                    <h3>Region {{ region.name }}</h3>
                    <small>Used area: {{ region.usedArea|area }}/{{ region.area|area }} ({{ 100*region.usedArea/ region.area}} %)</small><br>

                    {% if region.project is null %}
                        {% set modalId = "buildings-modal-for-"~ region.coords %}
                        <a href="#{{ modalId }}" rel="modal:open">Build</a>
                        <div class="buildings-modal modal" id="{{ modalId }}">
                            <a href="#" rel="modal:close">Close</a>
                            {{ render(controller('PlanetBundle:Region:availableBuildings', {
                                'regionC': region.peakCenter.id,
                                'regionL': region.peakLeft.id,
                                'regionR': region.peakRight.id
                            })) }}
                        </div>
                    {% else %}
                        Project {{ region.project.buildingBlueprint.description }}...
                        <a href="{{ path('settlement_fast_build', {
                            'project': region.project.id
                        }) }}">Supervised build</a>
                        <br/> {{ dump(region.project.missingResources) }}
                        <ul>
                            {% for notification in region.project.notifications %}
                                <li>{{ notification.description }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </table>

    {{ render(controller('PlanetBundle:Region:availableSettlementTypes', {
        'settlement': settlement.id,
    })) }}

    {{ form(cutOffForm) }}
    {{ render(controller('PlanetBundle:Settlement:connectableRegions', {
        'settlement': settlement.id
    })) }}
{% endblock %}


