{% extends 'base.html.twig' %}
{% import 'Planet/region-fragment.html.twig' as regioMacro %}

{% block pagetitle %}Settlement {{ settlement.type }} {{ settlement.id }}{% endblock %}
{% block pagedescription %}ruled by {{ settlement.manager.name }}, owned by {{ settlement.owner.name }}{% endblock %}

{% block body %}
	{{ render(controller('AppBundle:Settlement:warehouseContent', {
		'settlement': settlement.id,
		'human': human.id
	})) }}

	{{ render(controller('AppBundle:Settlement:buildings', {
		'settlement': settlement.id,
		'human': human.id
	})) }}

	{{ render(controller('AppBundle:Settlement:housing', {
		'settlement': settlement.id,
		'human': human.id
	})) }}

    <table>
        <tr>
	        {% for region in settlement.regions %}
                <td>
                    <h3>Region {{ region.coords }}</h3>
                    <small>Used area: {{ region.usedArea }}/{{ region_area }}m2 ({{ 100*region.usedArea/ region_area}} %)</small><br>

                    {% if region.project is null %}
                        {{ render(controller('AppBundle:Region:availableBuildings', {
                            'regionC': region.peakCenter.id,
                            'regionL': region.peakLeft.id,
                            'regionR': region.peakRight.id
                        })) }}

                        {{ render(controller('AppBundle:Region:availableSettlements', {
                            'regionC': region.peakCenter.id,
                            'regionL': region.peakLeft.id,
                            'regionR': region.peakRight.id
                        })) }}
                    {% else %}
                        Project {{ region.project.buildingBlueprint.description }}...
                        <a href="{{ path('settlement_fast_build', {
                            'project': region.project.id
                        }) }}">Supervised build</a>
                        <br/> {{ dump(region.project.missingResources) }}
                        <ul>
                            {% for notification in region.project.notifications %}
                                <li>{{ notification.description }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </table>


    {{ render(controller('AppBundle:Settlement:connectableRegions', {
        'settlement': settlement.id
    })) }}
{% endblock %}


