<div>
	<strong>Housing:</strong>
	<dt>People:</dt>
	<dd>{{ people }}</dd>
	<dt>Food:</dt>
	<dd>{{ foodEnergy }}</dd>
	{% if houses|length > 0 %}
		<dt>Housing capacity:</dt>
		<dd>{{ housingCapacity }}</dd>
		<ul>
			{% for house in houses %}
				<li>
					<strong>{{ house.blueprint.description }}</strong>&times;{{ house.amount }}, {{ house.resourceDescriptor }}, capacity {{ house.livingCapacity }}
				</li>
			{% endfor %}
		</ul>

	{% else %}
		<small>There is nothing to live.</small>
	{% endif %}
</div>
