{% extends 'Settlement/base.html.twig' %}

{% block subbody %}
	<strong>Housing:</strong>
	<dt>People:</dt>
	<dd>{{ people }}
	{% if peopleBirths != 0 %}
		<small>+{{ peopleBirths }}</small>
	{% endif %}
	</dd>
	{% if foods|length > 0 %}
		<dt>Food energy:</dt>
		<dd>{{ foodEnergy }}</dd>
		<ul>
			{% for food in foods %}
				<li>
					{{ render(controller('AppBundle:ResourceDeposit:depositDetail', {
						'deposit': food.deposit.id,
					})) }}
				</li>
			{% endfor %}
		</ul>

	{% else %}
		<small>There is no food to eat.</small>
	{% endif %}
	{% if houses|length > 0 %}
		<dt>Housing capacity:</dt>
		<dd>{{ housingCapacity }}</dd>
		<ul>
			{% for house in houses %}
				<li>
					{{ render(controller('AppBundle:ResourceDeposit:depositDetail', {
						'deposit': house.deposit.id,
					})) }}
				</li>
			{% endfor %}
		</ul>

	{% else %}
		<small>There is no place to live.</small>
	{% endif %}
{% endblock %}