{% extends 'Settlement/base.html.twig' %}

{% block subbody %}
<strong>Jobs</strong>
<ol>
    {% for job in buildJobs %}
        <li>[{{ job.region.coords }}] <strong>{{ job.blueprint.description }}</strong>&times;{{ job.amount }}&times;{{ job.repetition }}</li>
    {% endfor %}
</ol>
<ol>
    {% for job in produceJobs %}
        <li>[{{ job.region.coords }}] <strong>{{ job.blueprint.description }}</strong>&times;{{ job.amount }}&times;{{ job.repetition }}</li>
    {% endfor %}
</ol>
<ol>
    {% for job in transportJobs %}
        <li>[{{ job.region.coords }}] <strong>{{ job.resourceDeposit.resourceDescriptor }}</strong>&times;{{ job.amount }}&times;{{ job.repetition }}</li>
    {% endfor %}
</ol>
<ol>
    {% for job in buyJobs %}
        <li>[{{ job.region.coords }}] <strong>{{ job.resourceDeposit.resourceDescriptor }}</strong>&times;{{ job.amount }}&times;{{ job.repetition }}</li>
    {% endfor %}
</ol>
<ol>
    {% for job in sellJobs %}
        <li>[{{ job.region.coords }}] <strong>{{ job.resourceDeposit.resourceDescriptor }}</strong>&times;{{ job.amount }}&times;{{ job.repetition }}</li>
    {% endfor %}
</ol>


    <table>
        <tr>
            <th>Region name</th>
            <th>desc</th>
            <th>Transporters</th>
            <th>Builders</th>
            <th>Merchants</th>
            <th>Scientists</th>
            <th>Workers</th>
            <th>Farmers</th>
        </tr>
        {% for region in settlement.regions %}
        <tr>
            <th>
                Region {{ region.coords }}
            </th>
            {{ render(controller('AppBundle:Settlement:teams', {
                'regionC': region.peakCenter.id,
                'regionL': region.peakLeft.id,
                'regionR': region.peakRight.id
            })) }}
        </tr>
        {% endfor %}
    </table>
{% endblock %}