{#{% extends 'base.html.twig' %}#}

{#{% block pagetitle %}Planned job preview{% endblock %}#}

{#{% block body %}#}

{#{% endblock %}#}
<strong>Jobs</strong>
<ol>
    {% for job in buildJobs %}
        <li>[{{ job.region.coords }}] <strong>{{ job.blueprint.description }}</strong>&times;{{ job.amount }}&times;{{ job.repetition }}</li>
    {% endfor %}
</ol>
<ol>
    {% for job in produceJobs %}
        <li>[{{ job.region.coords }}] <strong>{{ job.blueprint.description }}</strong>&times;{{ job.amount }}&times;{{ job.repetition }}</li>
    {% endfor %}
</ol>
<ol>
    {% for job in transportJobs %}
        <li>[{{ job.region.coords }}] <strong>{{ job.resourceDeposit.resourceDescriptor }}</strong>&times;{{ job.amount }}&times;{{ job.repetition }}</li>
    {% endfor %}
</ol>
<ol>
    {% for job in buyJobs %}
        <li>[{{ job.region.coords }}] <strong>{{ job.resourceDeposit.resourceDescriptor }}</strong>&times;{{ job.amount }}&times;{{ job.repetition }}</li>
    {% endfor %}
</ol>
<ol>
    {% for job in sellJobs %}
        <li>[{{ job.region.coords }}] <strong>{{ job.resourceDeposit.resourceDescriptor }}</strong>&times;{{ job.amount }}&times;{{ job.repetition }}</li>
    {% endfor %}
</ol>
