{% import 'Planet/maintanance.html.twig' as cron %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block pagetitle %}Welcome!{% endblock %} :: Imperial Sandbox</title>
        <style type="text/css">
            html, body {
                padding: 0;
                margin: 0;
            }
            #header {
                height: 100px;
                background-color: #7DA0B1;
                padding: 10px;
            }
            #header h1 {
                margin-bottom: 0;
            }
            #header #game-title {
                position: relative;
                float: left;
            }
            #header #player-title {
                position: relative;
                float: right;
            }
            body #content {
                position: relative;
                float: left;
                padding: 15px;
            }
            #cheat-panel {
                position: relative;
                width: 500px;
                float: right;
                border-width: 1px;
                border-color: #6c6159;
                background-color: #d1bfac;
            }

            #event-panel {
                width: 100%;
            }
            #event-panel ul,
            #event-panel li
            {
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0;
            }
            #event-panel li {
                padding: 5px;
            }
            #event-panel li strong {
                /*float: left;*/
            }
            #event-panel li span {
                /*float: left;*/
            }
            #event-panel li small {
                float: right;
            }
        </style>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
            <div id="game-title">
                <strong>Imperial sandbox</strong><br>
                <h1>{{ block('pagetitle') }}</h1>
                <small>{% block pagedescription %}{% endblock %}</small>
            </div>
            <div id="player-title">
                <a href="{{ path('gamer_human_selection') }}">
                    {% if sessionSettings.human is not null %}
                        <strong>{{ sessionSettings.human.soul.name }}</strong> in
                        <strong>{{ sessionSettings.human.name }}</strong><br/>
                    {% else %}
                        <strong>Nobody is logged in</strong>
                    {% endif %}
                </a>
                {% if sessionSettings.human is not null %}
                    <span>Current feeling: {{ sessionSettings.human.feelings.thisTime }},
                            details in <a href="{{ path('human_dashboard') }}">Journal</a></span><br/>
                    <span>Time use: {{ sessionSettings.human.hours }}h</span>
                {% endif %}
            </div>
            <div id="planet-info">{% block planetinfo %}{% endblock %}</div>
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <div id="cheat-panel">
            {% block cheatpanel %}{{ cron.maintanance_controls() }}{% endblock %}
            <div id="event-panel">
                {% if events != null and events|length > 0 %}
                    <Strong>Events:</Strong>
                    <ul>
                    {% for event in events %}
                        <li>
                            <strong>{{ event.description }}</strong>
                            <span>
                                {{ dump(event.descriptionData) }}
                            </span>
                            <small>{{ event.time|date('H:i') }} phase {{ event.planetPhase }} on {{ event.planet.name }}</small>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
