{% extends 'base.html.twig' %}

{% block body %}
	<div id="wrapper">
		<h1>Human {{ human.name }} [{{ human.soul.name }}]</h1>
		<table>
			{% for region in nextRegions %}
				<tr>
					<td>{{ region.uuid }}</td>
					<td>
						{% if region.settlement is not null %}
							{{ region.settlement.type }}
						{% else %}
							<a href="">Create village settlement</a>
							<a href="">Create farm</a>
							<a href="">Create mine</a>
							<a href="">Create factory</a>
							<a href="">Create lab</a>
						{% endif %}
					</td>
					<td>
						{% for deposit in region.oreDeposits %}
							{{ deposit.amount }}T of {{ deposit.type }}<br/>
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}


