{% extends 'base.html.twig' %}
{% import 'Planet/region-fragment.html.twig' as regioMacro %}
{% import 'Planet/maintanance.html.twig' as cron %}

{% block body %}
	<div id="wrapper">
		<h1>Human {{ human.name }} [{{ human.soul.name }}]</h1>

		<div style="position: relative; width: 200px; float: right;">{{ cron.maintanance_controls() }}</div>

		<table border="1">
			{% for region in nextRegions %}
				{% if region is null %}
					<td>{{ dump(region) }}</td>
				{% else %}
					<tr>
						<td>{{ region.uuid }}</td>
						<td>
							{% if region.settlement is not null %}
								<strong>{{ region.settlement.type }}</strong>
							{% else %}
								nature
							{% endif %}
						</td>
						<td>
							{{ regioMacro.resource_deposit_info(region, human) }}
						</td>
						{% if region.project is not null %}
							<td colspan="2">
								Project {{ region.project.buildingBlueprint.description }}...
								<br/> {{ dump(region.project.missingResources) }}
							</td>
						{% else %}
							<td>
								{% if region.settlement is null %}
									{% for blueprint in buildingBlueprints %}
										<a href="{{ path('region_build_settlement', {
											'regionUuid': region.uuid, 'blueprintId': blueprint.id, 'human': human.id}) }}">
											Create {{ blueprint.description }} settlement</a><br/>
									{% endfor %}
								{% else %}
									{{ regioMacro.production_info(region) }}
								{% endif %}
							</td>
							<td>
								{{ regioMacro.deposit_info(region, human) }}
							</td>
							<td>
								<h3>Planet {{ region.planetUuid }}</h3>
							</td>
						{% endif %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
{% endblock %}


