{% extends 'base.html.twig' %}
{% import 'Planet/region-fragment.html.twig' as regioMacro %}
{% import 'Planet/maintanance.html.twig' as cron %}

{% block body %}
	<div id="wrapper">
		<h1>Human {{ human.name }} of {{ human.soul.name }}</h1>

		<div style="position: relative; width: 200px; float: right;">{{ cron.maintanance_controls() }}</div>

		<table border="1">
			{% for region in nextRegions %}
				{% if region is not null %}
					<tr>
						<td colspan="2">
							{{ region.coords }}:
							{% if region.settlement is not null %}
								<strong>{{ region.settlement.type }}</strong>
								<small> ruled by </small>
								<strong>{{ region.settlement.manager.name }}</strong>
							{% else %}
								nature
							{% endif %}
						</td>
						<td>History:</td>
						<td>
							{% if region.settlement is not null %}
								<a href="{{ path('settlement_dashboard', {'settlement': region.settlement.id}) }}">settlement_dashboard</a>
							{% endif %}
						</td>
					</tr>
					<tr>

						{#<td>#}
							{# TODO: opravit vypisovani maker #}
							{#{{ regioMacro.resource_deposit_info({r:region, h:human}) }}#}
						{#</td>#}
						{% if region.project is not null %}
							<td>
								Project {{ region.project.buildingBlueprint.description }}...
								<br/> {{ dump(region.project.missingResources) }}
								<ul>
									{% for notification in region.project.notifications %}
										<li>{{ notification.description }}</li>
									{% endfor %}
								</ul>
							</td>
						{% else %}
							<td>
								{{ render(controller('AppBundle:Region:availableSettlements', {
									'regionC': region.peakCenter.id,
									'regionL': region.peakLeft.id,
									'regionR': region.peakRight.id
								})) }}
							</td>
						{% endif %}
						<td>
							<dt>Fertility:</dt>
							<dd>{{ region.fertility }}</dd>
						</td>
						<td>
							{% for project in region.projectHistory %}
								<h4>{{ project.buildingBlueprint.name }}</h4>
								<ul>
									{% for notification in project.notifications %}
										<li>{{ notification.description }}</li>
									{% endfor %}
								</ul>
							{% endfor %}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
{% endblock %}


