{% extends 'base.html.twig' %}
{% import 'Planet/region-fragment.html.twig' as regioMacro %}

{% block body %}
	<div id="wrapper">
		<h1>Human {{ human.name }} [{{ human.soul.name }}]</h1>

		<table border="1">
			{% for region in nextRegions %}
				{% if region is null %}
					<td>{{ dump(region) }}</td>
				{% else %}
					<tr>
						<td>{{ region.uuid }}</td>
						<td>
							{% if region.settlement is not null %}
								<strong>{{ region.settlement.type }}</strong>
							{% else %}
								nature
							{% endif %}
						</td>
						<td>
							{{ regioMacro.resource_deposit_info(region, human) }}
						</td>
						{% if region.project is not null %}
							<td colspan="2">
								Project {{ region.project.building }}...
								<br/> Needs {{ region.project.mandaysLeft }} MD
							</td>
						{% else %}
							<td>
								{% if region.settlement is null %}
									<a href="{{ path('region_build_settlement', {
										'regionUuid': region.uuid, 'type': 'village', 'human': human.id}) }}">
										Create village settlement</a><br/>
									<a href="{{ path('region_build_settlement', {
										'regionUuid': region.uuid, 'type': 'farm', 'human': human.id}) }}">Create
										farm</a>
									<br/>
									<a href="{{ path('region_build_settlement', {
										'regionUuid': region.uuid, 'type': 'factory', 'human': human.id}) }}">Create
										factory</a><br/>
									<a href="{{ path('region_build_settlement', {
										'regionUuid': region.uuid, 'type': 'laboratory', 'human': human.id}) }}">Create
										lab</a><br/>
								{% else %}
									{{ regioMacro.production_info(region) }}
								{% endif %}
							</td>
							<td>
								{{ regioMacro.deposit_info(region, human) }}
							</td>
						{% endif %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
{% endblock %}


