<div class="resource-deposit">
	{% if deposit.blueprint is not null %}
		<strong>{{ deposit.blueprint.description }}</strong>
	{% else %}
		<strong>{{ deposit.resourceDescriptor }}</strong>
	{% endif %}&times;{{ deposit.amount }}
	{% if amountChange != 0 %}
		<small>{{ amountChange }} (+{{ production }}/-{{ consumption }})</small>
	{% endif %}
	<table border="1">
		<tr>
			{% for name, adapter in adapters %}
				<td>
					<strong>{{ name }}</strong>
					{% if adapter is not null%}
						{{ render(controller('AppBundle:ResourceDeposit:adapterDetail', {
							'useCase': name,
							'deposit': adapter.deposit.id
						})) }}
					{% else %}
						<br/><small>Adapter missing</small>
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	</table>
</div>
