<div class="resource-deposit">
	{% if deposit.blueprint is not null %}
		<strong>{{ deposit.blueprint.description }}</strong>
	{% else %}
		<strong>{{ deposit.resourceDescriptor }}</strong>
	{% endif %}&times;{{ deposit.amount }}
	{% if amountChange != 0 %}
		<small>{{ amountChange }} (+{{ production }}/-{{ consumption }})</small>
	{% endif %}
	<table border="1">
		<tr>
			<td colspan="{{ adapters|length }}">{{ dump(adapters|first) }}</td>
			<td>
				{% for name, adapter in adapters %}
						<strong>{{ name }}</strong><br>
						{% if adapter is not null%}
							{#						{{ render(controller('PlanetBundle:ResourceDeposit:adapterDetail', {#}
							{#							'useCase': name,#}
							{#							'deposit': adapter.deposit.id#}
							{#						})) }}#}
						{% else %}
							<br/><small>Adapter missing</small>
						{% endif %}
				{% endfor %}
			</td>
			<td>{{ dump(statistics) }}</td>
		</tr>
	</table>
</div>
