{% extends 'base.html.twig' %}
{% import 'Planet/region-fragment.html.twig' as regioMacro %}
{% import 'Planet/maintanance.html.twig' as cron %}

{% block pagetitle %}Surface map{% endblock %}
{% block pagedescription %}{% endblock %}

{% block body %}
	{% import _self as thistemplate %}

	<div class="left-half">
	{% for x, regionLine in lefts %}
		<div class="left-line {% if (loop.index is even) %}even-line{% endif %}">
			{% for region in regionLine %}
				{{ thistemplate.region(region, human) }}
			{% endfor %}
		</div>
	{% endfor %}
	</div>

	<div class="right-half">
		{% for x, regionLine in rights %}
			<div class="right-line {% if (loop.index is even) %}even-line{% endif %}">
				{% for region in regionLine %}
					{{ thistemplate.region(region, human) }}
				{% endfor %}
			</div>
		{% endfor %}
	</div>

<style type="text/css">
	.right-line, .left-line {
		width: 100%;
		height: 110px;
	}
	.region {
		border-style: dashed;
		border-color: #563b15;
		width: 100px;
		height: 100px;
		margin-top: 0;
		margin-bottom: 0;
		/*margin-left: 20px;*/
		display: block;
		color: #333333;
	}
	.right-half {
		width: 45%;
		float: left;
		min-width: 500px;
	}
	.left-half {
		width: 45%;
		float: left;
		min-width: 500px;
	}

	.right-line .region {
		float: left;
	}
	.left-line .region {
		float: right;
	}
	.region.settlement.current-position {
		border-style: solid;
		border-color: darkorange;
		border-width: 3px;
		color: darkorange;
	}
	.fertility-dead {
		background-color: #636363;
	}
	.fertility-tundra {
		background-color: #496310;
	}
	.fertility-fertile {
		background-color: #6b9311;
	}
	.settlement {
		border-style: solid;
		border-color: #000000;
	}
</style>
{% endblock %}

{% macro region(region, currentHuman) %}
	{% set classes = '' %}
	{% if region.fertility < 10 %}
		{% set classes = classes ~ ' fertility-dead' %}
	{% endif %}
	{% if region.fertility >= 10 and region.fertility < 30 %}
		{% set classes = classes ~ ' fertility-tundra' %}
	{% endif %}
	{% if region.fertility >= 30 and region.fertility < 60 %}
		{% set classes = classes ~ ' fertility-fertile' %}
	{% endif %}

	{% if region.settlement is not null %}
		{% if region.settlement.owner == currentHuman %}
			{% set classes = classes ~ ' current-position' %}
		{% endif %}
		<a class="region settlement {{ classes }}" href="{{ path('settlement_dashboard', {'settlement': region.settlement.id}) }}">
			{{ region.settlement.owner.name }}
		</a>
	{% else %}
		<div class="region {{ classes }}">
			{{ region.coords }}
		</div>
	{% endif %}
{% endmacro %}


{% macro region_map(region) %}
	<table>
		<tbody>
		<tr>
			<td colspan="2">
				{{ region.coords }}:
				{% if region.settlement is not null %}
					<strong>{{ region.settlement.type }}</strong>
					<small> ruled by </small>
					<strong>{{ region.settlement.manager.name }}</strong>
				{% else %}
					nature
				{% endif %}
			</td>
			<td>History:</td>
			<td>
				{% if region.settlement is not null %}
					<a href="{{ path('settlement_dashboard', {'settlement': region.settlement.id}) }}">settlement_dashboard</a>
				{% endif %}
			</td>
		</tr>
		<tr>
			{#<td>#}
			{# TODO: opravit vypisovani maker #}
			{#{{ regioMacro.resource_deposit_info({r:region, h:human}) }}#}
			{#</td>#}
			{% if region.project is not null %}
				<td>
					Project {{ region.project.buildingBlueprint.description }}...
					<br/> {{ dump(region.project.missingResources) }}
					<ul>
						{% for notification in region.project.notifications %}
							<li>{{ notification.description }}</li>
						{% endfor %}
					</ul>
				</td>
			{% else %}
				<td>
					{#							{{ render(controller('PlanetBundle:Region:availableSettlements', {#}
					{#								'regionC': region.peakCenter.id,#}
					{#								'regionL': region.peakLeft.id,#}
					{#								'regionR': region.peakRight.id#}
					{#							})) }}#}
				</td>
			{% endif %}
			<td>
				<dt>Fertility:</dt>
				<dd>{{ region.fertility }}</dd>
			</td>
			<td>
				{% for project in region.projectHistory %}
					<h4>{{ project.buildingBlueprint.name }}</h4>
					<ul>
						{% for notification in project.notifications %}
							<li>{{ notification.description }}</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</td>
			<td>
				{% if region.settlement is null %}
					<a href="{{ path('map_newcolony', {
						'regionC': region.peakCenter.id,
						'regionL': region.peakLeft.id,
						'regionR': region.peakRight.id
					}) }}">New colony</a>
				{% endif %}
			</td>
		</tr>
		</tbody>
	</table>
{% endmacro %}


