Planet name: {{ planet.name }}<br/>
Gravity: {{ planet.gravity }}g<br/>
Phase {{ planet|phase }}<br/>
Phase ends {{ (endphase+2*3600)|date('d. m. Y H:i') }}<br/>
<a href="{{ path('cron_new_phase', { 'planet': planet.id, 'settlementToRedirect': currentSettlement.id }) }}">New phase</a>
<a href="{{ path('planet_dashboard', { 'planet': planet.id }) }}">Overview</a>
